*{
    padding: 0;
    margin: 0;
}

.form_block{
    max-width: 400px;
    display: inline;
}

.form_item
{
  margin: 24px 5%;
}

.headline_label
{
    font: 600 24px /32px "Open Sans";
    width: 100%;
    float: left;
    color: #dff9fb;
    padding: 0 10px;
}

.input_item
{ 
  width: 40px;
  font: 400 18px/32px "Open Sans";
  color: #555555;
  border-radius: 3px;
  border: solid 2px #dff9fb;
  margin-top: 3px;
  padding-left: 3px;
}

.ratelevel{
    padding: 0 5px;
}

.label_item{
    font: 300 16px /24px "Open Sans";
    padding: 0 15px;
    color: #dff9fb;
}

.input_item_big{
    font: 400 18px/32px "Open Sans";
    color: #555555;
    border-radius: 3px;
    border: solid 2px #dff9fb;
    margin-top: 3px;
    padding-left: 3px;
}

.occupancy{
    display: block;
    margin: 10px 7%;
}

button{
    margin-left: 30px;
    margin: auto;
    display: block;
    margin: 53px auto 0 auto;
    width: 220px;
    padding: 15px 0 15px 0;
    text-align: center;
    font: 400 18px/32px "Open Sans";
    border-radius: 6px;
    background-color:#686de0;
    text-decoration: none;
    color: #dff9fb;
    border: none;
    transition: 1s;
}

button:hover{
    color: black;
    background-color: #dff9fb;
}

.add{
    width: 100px;
    float: left;
    font: 400 18px/32px "Open Sans";
}

.bottom{
    display: block;
    padding-bottom: 20px;
}

.form_full {
    width: 100%;
    background-color: #30336b;
    border-radius: 20px;
    height: 100%;
    display: block;
    margin: 40px auto;
}

.inline{
    display: inline-block;
}