@model HomeIndexModel

@{
    ViewData["Title"] = "Количество категорий номеров";
}

<form asp-controller="Home" asp-action="NumbersOfRooms" method="post">
    <div class="form-group">
        <label asp-for="NumberOfRooms">Введите количество категорий номеров</label>
        <input asp-for="NumberOfRooms" class="form-control" required placeholder="Количество"/>
        <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
    </div>
    <button class="btn btn-dark" type="submit">Ввести номера</button>
</form>